@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:is(.dark *));

@source "../node_modules/flowbite-svelte/dist";

.pretty-scroll {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: rgb(156 163 175 / 0.55) transparent;
}

.pretty-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.pretty-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.pretty-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(156 163 175 / 0.45);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.pretty-scroll::-webkit-scrollbar-thumb:horizontal {
  border-left-width: 10px;
}

.pretty-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175 / 0.7);
}

.pretty-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

.pretty-scroll::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
